# Виртуальное окружение
.venv/
venv/
ENV/

# Локальные данные и кэш (чтобы не перегружать Git большими файлами)
data/
logs/
.pytest_cache/
.ipynb_checkpoints/

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Конфигурации и секреты (содержат пароли и ключи доступа)
*.env
*dag.config

# Локальные папки Docker (если туда монтируются volumes)
*docker_volumes/

*model_artifacts